<div data-target="newGoalMilestone"  class="flex gap-x-3 items-center">
  <%= milestoneForm.text_field :description, class: "w-full border border-grey-200 bg-wildSand" %>
  <%= milestoneForm.hidden_field :_destroy %>
  <%= link_to (image_tag 'x.svg'), "#", data: { action: "click->milestones#removeMilestone" } %>
</div>