<div data-controller="milestones" >
  <div id="milestones" data-milestones-target="milestonesContainer">
    <%= form.fields_for :milestones do |m| %>
      <%= render "milestones/milestone_fields", milestoneForm: m %>
    <% end %>
  </div>
  <%= button_tag "Add Milestone", type: "button", data: { action: "click->milestones#addMilestone" } %>
</div>