<header class="bg-light-header h-16 flex justify-between items-center sticky top-0 px-3">
  <%= link_to (image_tag 'logo.svg'), goals_path %>
<% if action_name == "show" %>
  <%= button_to new_milestone_path(goal_id:@goal.id),
                method: :post,
              data: { turbo_frame: "modal" } do %>
    <p class="text-white bg-light-bg-darkPurple p-2 rounded-3xl h-7 w-7 flex justify-center items-center text-3xl text-bold ">
      +
    </p>
    <% end %>
<% end %>

</header>

