<header class="bg-light-header h-16 flex justify-between items-center sticky top-0 px-3">
  <%= link_to (image_tag 'logo.svg'), goals_path %>
</header>

<p class="bg-light-bg-achieved text-light-text-darkGray text-light-text-lightGray">

</p>