<dialog data-dialog-target="modal"
        class="dialog"
        data-action="click->dialog#clickOutside
                     turbo:submit-end->dialog#submitEnd">
  <!--    x button to close the dialog-->
  <form method="dialog" class="sticky top-0 right-0">
    <div class="flex justify-end p-3 pb-1">
      <button formmethod="dialog"
              data-action="dialog#close"
              class="bg-gray-50 rounded-full opacity-90  w-7 h-7"> &#10007</button>
    </div>
  </form>
  <!--  Modal Content-->
  <%= turbo_frame_tag :modal, data: {dialog_target: 'frame'} %>

  <% if content_for?(:modal_content) %>
      <%= yield(:modal_content) %>
  <% end %>
</dialog>
