<dialog data-dialog-target="modal"
        class="backdrop:bg-black backdrop:bg-opacity-60
        w-fit h-fit"
        data-action="click->dialog#clickOutside">
  <%= turbo_frame_tag :modal %>
  <!--    x button to close the dialog-->
  <form method="dialog"
        class="absolute right-3 top-3 text-light-text-main text-2xl">
    <button formmethod="dialog"> &#10007 </button>
  </form>
</dialog>