<div class="flex justify-between items-center border-b border-gray-200 px-6 py-5">
  <div class="text-2xl font-semibold text-yankeesBlue">
    <%= page_name %>
  </div>
  <% if controller_name == "goals"  && action_name == "index" %>
    <%= render template: 'goals/dropdown_filter' %>
  <% end %>
</div>