<div data-controller="dropdown" class="w-full flex justify-end px-7 py-7">
  <!--    dropdown-->
  <div class="flex items-center gap-x-5">
    <label for="cars" class="text-sm font-medium text-light-text-secondary">Goal Status</label>
    <select name="cars" id="cars" class="bg-indigo-50 rounded-full border-none">
      <option value="active">Active</option>
      <option value="paused">Paused</option>
      <option value="achieved">Achieved</option>
    </select>
  </div>
</div>