<div class="max-w-2xl">
  <%= form.radio_button :category_id,
                        category.id,
                        'data-stepper-target': "newGoalCategoryOption",
                        'data-action': 'stepper#enableNext
                                        stepper#resetNewGoalCategoryInput
                                        toggle#hideContent',
                        class: "sr-only peer" %>
  <label class="flex px-3 py-1 bg-zircon  text-fiord rounded-md border border-gray-300 cursor-pointer focus:outline-none hover:bg-gray-50
              peer-checked:ring-indigo-500
              peer-checked:ring-2
              peer-checked:border-transparent
              truncate"
         for="goal_category_id_<%= category.id %>"
  >
    <%= category.name %>
  </label>
</div>