<div class="step_container"
     data-stepper-target="step">
  <%= image_tag 'goalStepper/step_3.svg', class:"bg-zircon" %>
  <h3 class="step_title">Choosing a category to add your goal to</h3>
  <div class="step_desc"><p data-stepper-target="goalReplica"></p></div>
  <p> Your recent categories </p>
  <%= render 'categories/controller', form: %>
</div>
