<div class="step_container"
     data-stepper-target="step"
     data-controller="toggle">
  <h3 class="step_title">Choose a category to add your goal to</h3>
  <div class="step_desc"><p data-stepper-target="goalReplica"></p></div>
  <p> Your recent categories </p>
  <div class="flex gap-x-5 flex-wrap gap-y-3 pb-4" id="new_goal_categories">
    <% current_user.categories.each do |category| %>
      <%= render 'partials/new_goal_stepper/new_goal_category', form:, category: %>
    <% end %>
  </div>
  <%= render 'partials/new_goal_stepper/new_goal_category_form', form: %>
</div>
