<div data-controller="dropdown" class="flex items-center gap-x-3 ml-auto">
  <label for="status" class="hidden md:block text-sm font-medium text-light-text-secondary whitespace-nowrap">Goal Status</label>
  <div class="inline-block items-end relative w-36 md:w-40">
    <button data-action="click->dropdown#toggle" class="h-full flex justify-between items-center gap-x-1 bg-indigo-50 rounded-full w-full">
      <span data-dropdown-target="selectedText" class="px-5 w-7/12 flex justify-start  text-fiord font-semibold">Active</span>
      <div class="bg-indigo-100  rounded-r-full p-4  ">
        <%= image_tag 'arrow_down.svg' %>
      </div>
    </button>

    <div data-dropdown-target="dropdownContent" class="w-40 absolute right-0 top-11 md:top-12 bg-indigo-50 text-fiord font-semibold" hidden>
      <% { active: "Active", paused: "Paused", achieved: "Achieved" }.each do |key, value| %>
        <button data-option-text="<%= value %>"
                data-option-value="<%= key %>"
                class="bg-indigo-50 py-3 px-3 w-full flex justify-start hover:font-semibold hover:bg-indigo-100"
                data-action="dropdown#select goals-filter#filterByStatus">
          <%= value %>
        </button>
      <% end %>
    </div>
  </div>
</div>
