<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block">
      <span id="notice"> <%#= notice %> </span>
    </p>
  <div class="flex justify-between items-center" >
    <div class="flex gap-x-3">
      <span class="font-bold text-4xl" id="goals_count"> <%= current_user.goals.count %> </span>
      <h1 class="font-bold text-4xl">Goals</h1>
    </div>
    <%= link_to 'New goal', new_goal_path, data:{turbo_frame: "modal"}, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="goals" class="min-w-full">
    <%= render @goals %>
  </div>
</div>
