<% content_for :side_nav do %>
  <%= render 'partials/common/side_nav' %>
<% end %>

<div id="goals" class="w-full p-5 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-20 ">
  <%= render @goals %>
</div>