@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .tooltip {
        @apply invisible absolute;
    }

    .has-tooltip:hover .tooltip {
        @apply md:visible z-50;
    }

    .active-header-link {
        @apply
        text-ceruleanBlue font-bold xs:hidden sm:block
        pointer-events-none
    }

    .btn-primary {
        @apply
        bg-light-bg-darkPurple text-white text-center rounded-xl py-1 shadow-md font-bold focus:ring-2
    }

    .milestone_tab {
        @apply
        rounded-3xl inline-block py-2 px-4 hover:text-light-text-details-selectedTab font-semibold
    }

    .milestone_tab_content {
        @apply
        p-4 flex flex-col gap-y-3
    }

    .step_container {
        @apply
        flex flex-col gap-y-4 text-base text-light-text-main h-full
    }

    .goal_input {
        @apply
        w-full border-none focus:border-none border-gray-200 bg-wildSand appearance-none border-none rounded py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-none
    }

    .step_desc {
        @apply
        flex items-center gap-x-2 text-fiord
    }

    .step_title {
        @apply
        font-semibold text-xl text-yankeesBlue
    }

    .milestone_input {
        @apply
        w-full border border-gray-200
    }

    .navbar_category_hover {
        @apply
        hover:border
        hover:border-solid
        hover:border-gray-200
    }

    .navbar_category {
        @apply
        text-fiord
        font-semibold
            /*dark:bg-inherit*/
            /*dark:text-white*/
            /*dark:hover:border-slate-500*/
        h-12 w-full flex justify-start items-center
        rounded
    }


    .selected_category {
        @apply
        border
        border-solid
        border-gray-200
        bg-white text-fiord
        dark:bg-onyx
    }

    #categories form {
        width: 100%;
    }
}


