<div class="flex gap-x-5 flex-wrap gap-y-3 pb-4" id="new_goal_categories">
  <% current_user.categories.each do |category| %>
    <%= render 'categories/category_form', form:, category: %>
  <% end %>
</div>
<%= render 'categories/new_category_form', form: %>