<% if current_user %>
  <!--      Categories-->
  <div class="scroll-smooth overflow-auto w-full px-2 py-3 flex flex-col justify-start items-center pb-2 h-[inherit] gap-y-1 ">
    <div
      id='default_category'
      data-controller="toggle"
      data-action="click->categories--navbar#select
                   click->goals-filter#filterByCategory
                   click->toggle-side-nav#hideSideNav"
      data-categories--navbar-target="default"
      class="navbar_category navbar_category_hover py-3 px-2 w-full">
      <button class="w-full flex justify-start items-center truncate underline underline-offset-4">All Categories</button>
    </div>
    <div id="categories"
         class="w-full flex flex-col gap-y-1"
         data-controller="sortable"
         data-sortable-url="<%= sort_categories_path %>"
         data-sortable-position="row_order_position">
      <%= render current_user.categories.rank(:row_order).all %>
    </div>
  </div>
<% end %>
