<% if current_user %>
  <!--      Categories-->
  <div id="categories" class="overflow-auto w-full px-2 py-3 flex flex-col  justify-start items-center gap-y-2 pb-2 h-[inherit] ">
    <!--      Fixed Categories-->
    <% { active: "Active", paused: "Paused", achieved: "Achieved" }.each do |key, value| %>
      <div
        class="w-full ">
        <%= button_to value,
                      filter_by_status_goals_path(by_status: key),
                      method: :post,
                      class: "
                        dark:bg-inherit
                        dark:text-white
                        dark:hover:border-slate-500
                        hover:border
                        hover:border-solid
                        hover:border-gray-200
                        h-12 w-full flex justify-start items-center  bg-white
                        rounded text-light-text-categories font-semibold
                        py-3 pl-3
                       " %>
      </div>
    <% end %>
    <%= render current_user.categories %>
  </div>
<% end %>
