<% if current_user %>
  <!--      Categories-->
  <div class="scroll-smooth overflow-auto w-full px-2 py-3 flex flex-col justify-start items-center pb-2 h-[inherit] gap-y-1 ">
    <div
      id='default_category'
      data-controller="toggle"
      data-action="click->categories--navbar#select click->goals-filter#filterByCategory"
      data-categories--navbar-target="default"
      class="navbar_category navbar_category_hover py-3 px-2 w-full">
      <button class="w-full flex justify-start items-center truncate">All Categories</button>
    </div>
    <div id="categories" class="w-full flex flex-col gap-y-1">
      <%= render current_user.categories %>
    </div>
  </div>
<% end %>
