<div class="hidden flex justify-start items-center gap-x-3 w-full"
     data-toggle-target="toggledContent">
  <%= form.fields_for :category_attributes do |category_fields| %>
    <div class="flex gap-x-3 w-full">
      <%= category_fields.text_field :name,
                                     class: "goal_input text-doveGray shadow rounded-md outline-none font-base",
                                     placeholder: "Your new category name!",
                                     value: '',
                                     'data-stepper-target': 'newCategoryInput',
                                     'data-categories-target': 'newCategoryInput',
                                     'data-action': 'keydown.enter->stepper#FocusOnNextTarget
                                                                      stepper#enableNext' %>
    </div>
  <% end %>
</div>

<button
  data-stepper-target="newGoalCategoryBtn"
  data-action="toggle#toggleContent
                 stepper#unselectCategoriesOptions
                 stepper#disableNext
                 stepper#FocusOnNextTarget"
  data-toggle-target="toggleBtn"
  class="text-ceruleanBlue flex justify-start w-fit rounded-md">
  <p>Create New Category?</p>
</button>

