<%#= turbo_frame_tag :modal do %>
<!--  <div data-controller="turbo-modal" data-action="turbo:submit-end->turbo-modal#submitEnd">-->
<!--    <div id="new_category">-->
<!--      <div class="mx-auto md:w-2/3 w-full">-->
<!--        <p class="font-bold">New category</p>-->

        <%#= render "form", category: @category %>
<!--        <button data-action="click->turbo-modal#hideModal"> close </button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<%# end %>
